body {
	padding : 0 0 50px 0;
	margin : 0;
	background : #181818;
	font : 0.8em 'Lucida Grande', Arial, Sans-Serif;
	line-height : 1.6em;
}
#content {
	width: 1016px;
	margin: 0 auto;
	border-width: 0px 3px 0px 3px; 
	border-style: solid;
	border-color: #101010;
	background: #FFFFFF;
        letter-spacing : -1px;
	font-color: #000000;
}

